# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env
*.env

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Testing / cache
.pytest_cache/
.coverage

# Tokens
hf_token.txt
